@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient_img {
    background-image: url("/images/black.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .mobile_app_section {
    background-image: url("/images/Image (4).png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 234px;
  }

  .slider_section {
    background-image: url("/images/Pattern.png");
    background-repeat: no-repeat;
    background-position: 50% 11%;
  }

  .scribe_section {
    background-image: conic-gradient(from 0deg at 50% 30%, #4fffdf, #49deff);
  }

  ol {
    list-style-type: decimal;
  }

  .post-gradient {
    @apply mb-[71px] mt-4 rounded-[30px] bg-gradient-to-r from-primary-01 to-primary-02 px-[30px] py-[133px] text-primary-03;
  }

  .post-inner {
    @apply flex flex-col items-center justify-center font-open-sans text-head6 font-semibold italic;
  }
}
